/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
h1 { font-size:2.6em; }
h2 { font-size:2.2em; }
h3 { font-size:2.0em; }
h4 { font-size:1.6em; }
h5 { font-size:1.2em; }
h6 { font-size:0.8em; text-transform:uppercase; }
*/
h1,h2,h3,h4,h5,h6,p {
	margin:10px 0; 
	/* Otra opcion "margin:0.3em 0;" para que ajuste los margenes al tamano de la fuente */
}
h1 { font-size:3.0em; }
h2 { font-size:2.6em; }
h3 { font-size:2.2em; }
h4 { font-size:1.8em; }
h5 { font-size:1.4em; }
h6 { font-size:0.8em; text-transform:uppercase; }

.container { width:960px; margin:0 auto; }

.grid1, 
.grid2, 
.grid3, 
.grid4,
.grid5, 
.grid6, 
.grid7, 
.grid8,
.grid9, 
.grid10, 
.grid11, 
.grid12 { 
	margin-left: 10px; 
	margin-right:10px; 
	margin-top:20px;
	float: left;
}

.grid1  { width:60px;  }
.grid2  { width:140px; }
.grid3  { width:220px; }
.grid4  { width:300px; }
.grid5  { width:380px; }
.grid6  { width:460px; }
.grid7  { width:540px; }
.grid8  { width:620px; }
.grid9  { width:700px; }
.grid10 { width:780px; }
.grid11 { width:860px; }
.grid12 { width:940px; }
.clear  { clear: both; }

.subcolumna {
	margin-left:-10px;
	margin-right:-10px;
	zoom:1;
}

