/* Menu */
body {
	font-family: Arial, Helvetica, sans-serif;
}
.menu {
	list-style: none; /* elimina los bullets */
	height: 50px;
	border: #8F8F8F 1px solid;
	margin:0;
	padding: 0;
	background-color: #888888;
	
}

.menu li {
	float:left;
	position: relative;
}

.menu a {
	display: block;
	height: 50px;
	line-height: 50px;
	/*margin:0 10px;*/
	padding: 0 20px;
	background-color: #888888;
	color:#E5E5E5;
	text-decoration: none;
	text-transform: capitalize;
}

.menu a:hover {
	background-color: #AA6A6A;
}
.menu a:active {
	background-color: #D4ABAB;
}

.menu .submenu {
	position: absolute;
	top:50px;
	left: 0;

	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	visibility: hidden;

	-webkit-transition: all 400ms ease;
	-moz-transition   : all 400ms ease;
	-o-transition     : all 400ms ease;
	-ms-transition    : all 400ms ease;
	transition        : all 400ms ease;
}

.menu .submenu li {
	float: none;
}
.menu .submenu a {
	width: 220px;
}

.menu li:hover .submenu {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
	visibility: visible;
}