
.caja {
	width: 200px;
	height:200px;
	border: 5px solid #4C4C4C;
	margin: 10px 80px;
	float: left;
}

#caja1 {
	position:relative;
	top:50px;
	left:50px;
}

#caja2 {
	position: absolute;
	bottom  : 0;
	left    : 0;
	width   : 100%;
	height: 40px;
}
#caja3 {
	position: fixed;
	top     : 0;
	left    : 0;
	width   : 100%;
	height: 40px;
}

#caja4 {
	width: 400px;
	position: relative;
	padding-bottom: 60px;
	overflow-y: hidden;
}
#caja4 p {
	height: 323px;
	overflow-y: hidden;
}
.cajapeque {
	width:120px;
	height: 50px;
	background-color: #FFB000;
	position: absolute;
	bottom: 10px;
	left: 10px;
}